body{
	background-color: ghostwhite;
	margin: 0%;
}
head{
	background-color: ghostwhite;

}
header #logo{
	background-color: blanchedalmond;
	text-align: center;
	font-size: 50px;
}
header #logo img{
	background-color: blue;
	text-align: center;
	border: 3px solid black;
}
.content{
	background-color: #fff;
}
footer{
	background-color: red;
}

h1{
	margin-top: 2%;
	margin-left: 28%;
}

#pageNotFound{
	margin-left: 35%;
	margin-top: 5%;
}

#listaCostado{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 25%;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}

#test{
	margin-left:  40%;
}

input[type=text] {
	 width: 130px;
	 box-sizing: border-box;
	 border: 2px solid #ccc;
	 border-radius: 4px;
	 font-size: 16px;
	 background-color: white;
	 background-image: url('searchicon.png');
	 background-position: 10px 10px;
	 background-repeat: no-repeat;
	 padding: 12px 20px 12px 40px;
	 -webkit-transition: width 0.4s ease-in-out;
	 transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
	width: 100%;
}

#articulos{

	margin-left: 26%;
}

#gif{
	margin-left: 35%;
}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

li a.active {
	background-color: #4CAF50;
	color: white;
}

li a:hover:not(.active) {
	background-color: #555;
	color: white;
}


/*
. -> clase ej: .content
# -> id selector ej: #articulos
body -> element seletor